In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/product-sortingdataset/product_sorting.csv

In [2]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df = pd.read_csv("../input/product-sortingdataset/product_sorting.csv")
print(df.shape)

(32, 10)

In [3]:
df.head(10)

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
5                                           Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0
6                                           Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9
7  Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3
8           A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4
9                       Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9

# **1. Sorting Products**

## **1.1. Sorting by Rating**

In [4]:
df.sort_values("rating", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
16                                           Course_6       Instructor_7             140 4.60000              20       10       10        0        0        0
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
21                                          Course_10      Instructor_10             723 4.50000             130       68       47        9        3        3
7   Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9

## **1.2. Sorting by Comment Count or Purchase Count**

In [5]:
df.sort_values("purchase_count", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3
26                                          Course_14       Instructor_9            6027 4.00000             176      103       52       16        3        2
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0
17                                           Course_7       Instructor_8            4204 3.80000              66       38       13       11        2        2
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2

In [6]:
df.sort_values("commment_count", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0
26                                          Course_14       Instructor_9            6027 4.00000             176      103       52       16        3        2
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3
21                                          Course_10      Instructor_10             723 4.50000             130       68       47        9        3        3

## **1.3. Sorting by Rating, Comment and Purchase**

In [7]:
df["purchase_count_scaled"] = MinMaxScaler(feature_range=(1, 5)). \
    fit(df[["purchase_count"]]). \
    transform(df[["purchase_count"]])

df.describe().T

                         count       mean        std      min       25%        50%        75%         max
purchase_count        32.00000 7110.71875 9760.89340 30.00000 877.50000 3687.50000 9994.00000 48291.00000
rating                32.00000    4.35625    0.44789  3.10000   4.27500    4.50000    4.62500     4.80000
commment_count        32.00000  882.06250 1321.49890  7.00000  87.75000  194.50000  983.50000  4621.00000
5_point               32.00000  598.09375  920.14011  1.00000  49.25000  112.50000  695.25000  3466.00000
4_point               32.00000  211.53125  312.26291  2.00000  19.75000   45.50000  253.25000  1122.00000
3_point               32.00000   54.12500   76.57623  0.00000   6.75000   14.50000   56.25000   314.00000
2_point               32.00000    9.53125   12.99127  0.00000   0.75000    3.00000   10.50000    46.00000
1_point               32.00000    8.96875   14.57015  0.00000   2.00000    3.00000    9.00000    67.00000
purchase_count_scaled 32.00000    1.58687    0.80901  1.00000   1.07024    1.30314    1.82584     5.00000

In [8]:
df["comment_count_scaled"] = MinMaxScaler(feature_range=(1, 5)). \
    fit(df[["commment_count"]]). \
    transform(df[["commment_count"]])

In [9]:
df.head()

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398

In [10]:
(df["comment_count_scaled"] * 32 / 100 +
 df["purchase_count_scaled"] * 26 / 100 +
 df["rating"] * 42 / 100)

0    4.24988
1    4.79510
2    3.48349
3    2.93711
4    3.02204
5    2.75165
6    2.85721
7    2.52239
8    2.75990
9    2.81623
10   3.42792
11   2.98739
12   2.52869
13   2.72186
14   3.50198
15   3.36577
16   2.51798
17   2.28232
18   2.45807
19   2.72659
20   3.68156
21   2.51906
22   2.53828
23   2.35459
24   2.26479
25   2.02105
26   2.43612
27   2.56168
28   2.54467
29   1.92584
30   1.92400
31   2.27376
dtype: float64

In [11]:
def weighted_sorting_score(dataframe, w1=32, w2=26, w3=42):
    return (dataframe["comment_count_scaled"] * w1 / 100 +
            dataframe["purchase_count_scaled"] * w2 / 100 +
            dataframe["rating"] * w3 / 100)

df["weighted_sorting_score"] = weighted_sorting_score(df)

In [12]:
df.sort_values("weighted_sorting_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5                3.05375               1.21066                 2.98739
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2                1.19328               1.07629                 2.54467
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869

In [13]:
df[df["course_name"].str.contains("Veri Bilimi")].sort_values("weighted_sorting_score", ascending=False).head(20)

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711
7  Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239

## **1.4. Bayesian Average Rating Score**

**Sorting Products with 5 Star Rated**

**Sorting Products According to Distribution of 5 Star Rating**

In [14]:
def bayesian_average_rating(n, confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    return score

In [15]:
df["bar_score"] = df.apply(lambda x: bayesian_average_rating(x[["1_point",
                                                                "2_point",
                                                                "3_point",
                                                                "4_point",
                                                                "5_point"]]), axis=1)

df.sort_values("weighted_sorting_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156    4.48063
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198    4.56816
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792    4.64168
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577    4.45481
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5                3.05375               1.21066                 2.98739    3.87774
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721    4.50797
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623    4.43153
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990    4.43491
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165    4.63448
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659    4.72913
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186    4.21854
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168    4.25394
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2                1.19328               1.07629                 2.54467    4.19961
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828    4.39133
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869    4.32076

In [16]:
df.sort_values("bar_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659    4.72913
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792    4.64168
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165    4.63448
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198    4.56816
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721    4.50797
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156    4.48063
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577    4.45481
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990    4.43491
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623    4.43153
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828    4.39133
7   Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239    4.34219
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869    4.32076
26                                          Course_14       Instructor_9            6027 4.00000             176      103       52       16        3        2                1.49705               1.14651                 2.43612    4.26038
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168    4.25394
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186    4.21854

In [17]:
df[df["course_name"].index.isin([5, 1])].sort_values("bar_score", ascending=False)

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score
5                                           Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165    4.63448
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604

## **1.5. Hybrid Sorting**

In [18]:
def hybrid_sorting_score(dataframe, bar_w=60, wss_w=40):
    bar_score = dataframe.apply(lambda x: bayesian_average_rating(x[["1_point",
                                                                     "2_point",
                                                                     "3_point",
                                                                     "4_point",
                                                                     "5_point"]]), axis=1)
    wss_score = weighted_sorting_score(dataframe)
    return bar_score*bar_w/100 + wss_score*wss_w/100

df["hybrid_sorting_score"] = hybrid_sorting_score(df)

df.sort_values("hybrid_sorting_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score  hybrid_sorting_score
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604               4.62766
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586               4.49947
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156    4.48063               4.16100
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792    4.64168               4.15618
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198    4.56816               4.14169
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521               4.10252
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577    4.45481               4.01920
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567               3.96622
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659    4.72913               3.92811
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165    4.63448               3.88135
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208               3.86409
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721    4.50797               3.84767
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623    4.43153               3.78541
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990    4.43491               3.76491
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828    4.39133               3.65011
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186    4.21854               3.61987
7   Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239    4.34219               3.61427
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869    4.32076               3.60393
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168    4.25394               3.57704
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2                1.19328               1.07629                 2.54467    4.19961               3.53763

In [19]:
df[df["course_name"].str.contains("Veri Bilimi")].sort_values("hybrid_sorting_score", ascending=False).head(20)

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score  hybrid_sorting_score
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604               4.62766
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586               4.49947
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208               3.86409
7  Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239    4.34219               3.61427